@{
    ViewData["Title"] = "Home Page";
}

   
<form asp-controller="Books" asp-action="Index" method="GET">
    <label>Tìm kiếm sách:</label>
    <select name="filterOn" id="filterOn">
        <option value="title">Tiêu đề</option>
        <option value="author">Tác giả</option>
        <option value="publisher">Nhà xuất bản</option>
    </select>
    <input type="text" name="filterQuery" />
    <label>Sắp xếp:</label>
    <select name="sortBy" id="sortBy">
        <option value="title">Tiêu đề</option>
        <option value="rate">Đánh giá</option>
    </select>
    <label>Tăng dần:</label><input type="radio" name="isAscending" value="True" />
    <label>Giảm dần:</label><input type="radio" name="isAscending" value="False" />
    <input type="submit" value="Search" />
</form>