@model webMVC.Models.DTO.AddBookDTO
@{
    var listAuthor = ViewBag.ListAuthor;
    var listPublisher = ViewBag.ListPublisher;
}

<h2>Thêm Sách Mới</h2>

<form asp-controller="Books" asp-action="addBook" method="POST">
    <label>Title</label>
    <input type="text" asp-for="Title" /><br>

    <label>Description</label>
    <input type="text" asp-for="Description" /><br>

    <label>IsRead</label>
    <input type="radio" asp-for="IsRead" value="True" /> Yes
    <input type="radio" asp-for="IsRead" value="False" /> No<br>

    <label>DateRead</label>
    <input type="date" asp-for="DateRead" /><br>

    <label>Rate</label>
    <input type="number" asp-for="Rate" /><br>

    <label>Genre</label>
    <input type="text" asp-for="Genre" /><br>

    <label>Cover Url</label>
    <input type="text" asp-for="CoverUrl" /><br>

    <label>DateAdded</label>
    <input type="date" asp-for="DateAdded" /><br>

    <label>Publisher:</label>
    <select asp-for="PublisherID">
        @foreach (var item in listPublisher)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br>

    <label>Author:</label>
    <select asp-for="AuthorIds" multiple>
        @foreach (var item in listAuthor)
        {
            <option value="@item.Id">@item.FullName</option>
        }
    </select>
    <br>

    <input type="submit" value="Submit" />
</form>
