@model webMVC.Models.DTO.AddBookDTO
@{
    var listAuthor = ViewBag.ListAuthor;
    var listPublisher = ViewBag.ListPublisher;
}

<form asp-controller="Books" asp-action="addBook" method="POST">
    <label>Title</label>
    <input type="text" name="title" asp-for="title" /><span asp-validation-for="title" class="text-danger"></span><br>
    <label>Descriptions</label>
    <input type="text" name="description" asp-for="description" /><br>
    <label>IsRead</label>
    <input type="radio" name="IsRead" asp-for="isRead" value="True" /> Yes
    <input type="radio" name="IsRead" asp-for="isRead" value="False" /> No<br>
    <label>DateRead</label>
    <input type="date" name="dateRead" asp-for="dateRead" /><br>
    <label>Rate</label>
    <input type="number" name="rate" asp-for="rate" /><br>
    <label>Genre</label>
    <input type="text" name="genre" asp-for="genre" /><br>
    <label>Cover Url</label>
    <input type="text" name="coverUrl" asp-for="coverUrl" /><br>
    <label>DateAdded</label>
    <input type="date" name="dateAdded" asp-for="dateAdded" /><br>
    <label>Publisher:</label>
    <select name="publisherId">
        @foreach (var item in listPublisher)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br>
    <label>Author</label>
    <select name="authorIds" multiple>
        @foreach (var item in listAuthor)
        {
            <option value="@item.Id">@item.FullName</option>
        }
    </select>
    <br>
    <input type="submit" value="Submit" />
</form>